<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <div style="display: flex; justify-content: center;">
      <div>
	<div style="display: flex; align-items: center;">
	  <img src="/assets/images/otter-background:white.png" alt="RandyTheOtter" width="80" style="margin-right: 20px;">
	  <h1> Randy's </h1>
	  <p>get outta my swamp!</p>
	</div>
	{{ content }}
      </div>
    </div>
  </body>
</html>
